@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap");
/* font-family: 'PT Serif', serif; */

:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #e5674e;
  --pink: #f3e4e1;
  --lightGreen: #58bf94;
  --darkGreen: #0e927d;
  --brown: #2f2926;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--pink);
}
